nav ul li {
    display: inline;
}

#menuBtn {
    display: none;
}

@media (max-width:800px) {

    /*make a menu items vertical*/
    nav ul li {
        display: block;
    }

    /* unhide menu icon */
    #menuBtn {
        display: block;
    }

    /*hide the menu item list*/
    nav ul {
        display: none;
    }
}

.menuShow {
    display: block;
}